doctype html
html(lang="pt-br")
	head
		meta(charset="utf-8")
		title Gulp, Jade, SASS, Autoprefixer, Concat &amp; BrowserSync
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, inicial-scale=1")
		link(rel="stylesheet", href="css/main.css")
		link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600", rel="stylesheet", type="text/css")

	body
		.container.home-container
			.twelve.columns
				h2 Gulp, Jade, SASS, Autoprefixer, Concat &amp; BrowserSync

		include includes/_footer

		script(src="js/all.js")